@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  background-color: #eee;
}
div {
  section.front {
    height: 100vh;
    position: relative;
    div.title {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);

      h1 {
        font-weight: 100;
        font-size: 120px;
      }
      p {
        font-size: 48px;
      }
    }
    ul.j {
      position: absolute;
      bottom: 0;
    }
    ul {
      display: flex;
      li {
        flex: 1;
      }

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
section.gallery {
  position: relative;
  height: 200vh;
  &.g {
    height: 250vh;
  }
  h1 {
    font-size: 64px;
    font-weight: 100;
    position: absolute;
    z-index: 3;
    &.g {
      top: 14vw;
      left: 10vw;
    }
    &.j {
      top: 24vw;
      right: 20vw;
    }
  }
  ul.wrap {
    position: relative;
    &::after {
      clear: both;
      display: block;
      content: '';
    }
    > li {
      float: left;

      > ul {
        position: relative;
        li {
          width: 20vw;
          height: 28vw;
          padding: 2vw;
          img {
            width: 16vw;
            height: 24vw;
            object-fit: cover;
          }
        }
      }
    }
  }
  > ul.g {
    left: 20vw;
    > li:nth-of-type(odd) > ul {
      top: 100px;
    }
  }
  > ul.j {
    > li:nth-of-type(even) > ul {
      top: 100px;
    }
  }
}
