* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

div section.front {
  height: 100vh;
  position: relative;
}

div section.front div.title {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

div section.front div.title h1 {
  font-weight: 100;
  font-size: 120px;
}

div section.front div.title p {
  font-size: 48px;
}

div section.front ul.j {
  position: absolute;
  bottom: 0;
}

div section.front ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div section.front ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div section.front ul img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.gallery {
  position: relative;
  height: 200vh;
}

section.gallery h1 {
  font-size: 72px;
  font-weight: 100;
  position: relative;
  z-index: 3;
}

section.gallery img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
